<html>
<head></head>
<body>

<div class="container" id="containerDiv">

  <div class="card">

      <div class="card-header">
        <h3>Sign in</h3>
      </div>

      <div class="card-body">
        <form>
          <div class="form-group">
            <label> Username: </label>
            <input class="form-control" type="text" id="userName" name="userName" pattern="[a-zA-Z0-9]*"
                   required #userName="ngModel" ngModel>
            <div class="alert alert-danger" *ngIf="userName.touched && userName.invalid">
              <div *ngIf="userName.errors.required"> Username name is required !</div>
              <div *ngIf="userName.errors.pattern"> The pattern is invalid !</div>
            </div>
          </div>

          <div class="form-group">
            <label> Password: </label>
            <input class="form-control" type="text" id="password" name="password" pattern="[a-zA-Z0-9]*"
                    required #password="ngModel" ngModel>
            <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
              <div *ngIf="password.errors.required"> Password is required !</div>
              <div *ngIf="password.errors.pattern"> The pattern is invalid !</div>
            </div>
          </div>

          <div class="login">
          <input type="submit" class="btn btn-primary" (click)="login(userName.value, password.value)"
              value="Login">
          </div>

        </form>
      </div>
  </div>
</div>
</body>

</html>
