::ng-deep .mat-select{
  background-color: #f0eaea;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
}


#wordcounter {
  text-align: right;
  color: #8c9195;
}

.addNewBug input{
  margin-right: 15px;
}

.addattachment {
  margin-bottom: 10px;
}

.container {
  overflow-y: scroll;
  max-height: 600px;
}
