table{
  width:100%;
  padding: 0 80px;
}
.mat-header-row {
  font-weight: bold;
  text-align: center;
}

.mat-header-cell {
  color: black;
  font-weight: bold;
  text-align: center;
}

.mat-row:nth-child(even) {
  background-color: white;
}

.mat-row:nth-child(odd) {
  background-color: #ebebeb;
}

.btn-primary {
  margin: 20px 0;
}

.viewbtn {
  width: 100px;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-sort-header {
  display: flex;
  cursor: pointer;
  align-items: center !important;
  padding-left: 30px !important;
}


.sortheader {
  float: right;
  padding: 0 10px;
}

.paginatorbtn {
  float: right;
  background-color: #ebebeb;
  margin-right: 30px;
}

label {
  display: inline-block;
  margin-right: 1.0rem;
  margin-left: 2.0rem;
}

.btnapply {
  width: 150px;
  margin-left: 10px;
}


.option:disabled {
  background: rgba(140, 145, 149, 0.6);
  color: black;
}

:host ::ng-deep.mat-paginator .mat-paginator-container {
  justify-content: flex-end;
}

:host ::ng-deep.mat-paginator .mat-paginator-container .mat-paginator-navigation-previous  {
  visibility: hidden;
}

:host ::ng-deep.mat-paginator .mat-paginator-container .mat-paginator-navigation-next  {
  visibility: hidden;
}

.searchbox {
  margin-top: 20px;
}
