table{
  width:100%;
  padding: 0 80px;
}
.mat-header-row {
  font-weight: bold;
  text-align: center;
}

.mat-header-cell {
  color: black;
  font-weight: bold;
  text-align: center;
}

.mat-row:nth-child(even) {
  background-color: white;
}

.mat-row:nth-child(odd) {
  background-color: #ebebeb;
}

.btn-primary {
  margin: 20px 0;
}
.viewbtn {
  width: 100px;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-sort-header {
  display: flex;
  cursor: pointer;
  align-items: center !important;
  padding-left: 30px !important;
}


.search-field {
  float: right;
}

.btnfilter {
  width: 100px;
  margin-left: 20px;
}

.class1  .mat-select-placeholder {
  color:red !important;
}

.class2  .mat-select-placeholder {
  color:blue !important;
}
