//center links in navbar
.container {
  padding-top: 55px;
  margin: 0 auto
}

.navbar {
  display: flex;
  justify-content: center;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  font-size: 20px;
  font-weight: lighter;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

.back-div {
  max-width: 90%;
  margin: auto;
}

.first-back-div {
  background-image: linear-gradient(to top, #e5e6e7, #c8daed, #abcef3, #8cc2f9, #68b5ff);
}

.nav-link {
  color: #000000;
}
