<div class="container first-back-div">
  <div class="back-div">

    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a *ngIf="permsAssignments.isUserM" class="nav-link" routerLinkActive="active" routerLink="/home/usertable">Users</a>
        <a *ngIf="permsAssignments.isBugM" class="nav-link" routerLinkActive="active" routerLink="/home/bugtable">Bugs</a>
        <a *ngIf="permsAssignments.isPermsM" class="nav-link" routerLinkActive="active" routerLink="/home/usertable/permissions"
           (click)="permissionsPopup()">Permissions</a>
        <a class="nav-link" routerLinkActive="" routerLink="/" (click)="authService.logOut()">Log Out</a>
      </nav>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
