<div class="container">
  <form>
    <blockquote class="blockquote text-center">
      <p class="mb-0 title">Fill in the blanks</p>
      <footer class="blockquote-footer"><cite username>{{username}}</cite></footer>
    </blockquote>
    <div class="form-group">
      <label>First Name: </label>
      <input class="form-control" type="text" id="firstName" name="firstName" [(ngModel)]="firstName">
    </div>

    <div class="form-group">
      <label>Last Name:</label>
      <input class="form-control" type="text" id="lastName" name="lastName" [(ngModel)]="lastName">
    </div>

    <div class="form-group">
      <label>Mobile Number:</label>
      <input class="form-control" type="text" id="mobileNumber" name="mobileNumber" [(ngModel)]="mobileNumber">
    </div>

    <div class="form-group">
      <label>Email:</label>
      <input class="form-control" type="text" id="email" name="email" [(ngModel)]="email">
    </div>

    <div class="form-group">
      <label>Counter:</label>
      <input class="form-control" type="text" id="counter" name="counter" [(ngModel)]="counter">
    </div>

    <div class="form-group">
      <label>Password:</label>
      <input class="form-control" type="password" id="password" name="password" #password="ngModel" ngModel>
    </div>

    <div class="form-group">
      <label>Confirm Password:</label>
      <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"
             #confirmPassword="ngModel" ngModel>
    </div>

    <div class="bottomButtons">
      <input type="submit" class="btn btn-primary" (click)="editNewUser(username, firstName, lastName,
            mobileNumber, email, counter, password.value, confirmPassword.value)" value="Edit">
      <input type="button" class="btn btn-danger" (click)="close()"
             value="Close">
    </div>

  </form>
</div>
