table{
  width:100%;
}
.mat-header-row {
  font-weight: bold;
}

.mat-header-cell {
  color: black;
  font-weight: bold;
  text-align: center;
}

.mat-row:nth-child(even) {
  background-color: white;
}

.mat-row:nth-child(odd) {
  background-color: #ebebeb;
}
.mat-cell{
  //border-right: solid 0.5px black;
}

.editbtn {
  margin-left: 30px;
}

.btn-primary {
  margin: 20px 0;
}





//center links in navbar
.container {
  margin: 0 auto
}

.navbar {
  display: flex;
  justify-content: center;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  font-size: 20px;
  font-weight: lighter;
}
nav a:visited, a:link {
  color: #607d8b;
}

nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}

nav a.active {
  color: #039be5;
}

.aaa {
  font-size: 10px;
}


