<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="nav-link" style="font-size: 15px;" routerLinkActive="active" routerLink="/home/usertable/adduser"
       (click)="addUserPopup()">Add User</a>
  </nav>
</div>


<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" >

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> FirstName </th>
      <td mat-cell *matCellDef="let users"> {{users.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> LastName </th>
      <td mat-cell *matCellDef="let users"> {{users.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let users"> {{users.email}} </td>
    </ng-container>

    <ng-container matColumnDef="mobileNumber">
      <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
      <td mat-cell *matCellDef="let users"> {{users.mobileNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let users"> {{users.username}} </td>
    </ng-container>

    <ng-container matColumnDef="counter">
      <th mat-header-cell *matHeaderCellDef> Counter </th>
      <td mat-cell *matCellDef="let users"> {{users.counter}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell  *matHeaderCellDef > Activate </th>

      <mat-cell *matCellDef="let users" >
        <mat-slide-toggle color="primary" [checked]="users.counter > 0 ? true : false"
                          (change)="onChange(users.username, users.counter)">  </mat-slide-toggle>
        <button mat-raised-button class="editbtn" color="primary" (click)="editUserPopup(myView, users.firstName,
            users.lastName, users.email, users.mobileNumber, users.username, users.counter)">  Edit </button>
        <ng-template #myView >  <app-edit-user *ngIf ="loadComponent" ></app-edit-user> </ng-template>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let users; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>

</div>





